@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Telex&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

/* VARIAVEIS CORES */
:root {
  --branco0: #f8f9fa;
  --branco1: #e9ecef;
  --branco2: #dee2e6;
  --branco3: #ced4da;
  --cinza0: #adb5bd;
  --cinza1: #6c757d;
  --cinza2: #495057;
  --cinza3: #343a40;
  --cinza4: #212529;
  --green: #008000;
}

/* FONTES */
.title {
  font-family: 'PT Sans', sans-serif;
  font-size: 48px;
}
.text {
  font-family: 'Telex', sans-serif;
  font-size: 16px;
}

/* BODY */
body {
  background-color: var(--branco3);
}
/* FIM BODY */

/* --------------------------- */

/* HEADER */
#header {
  background-color: var(--cinza4);
  color: var(--branco2);
  padding: 30px 40px;
  text-align: center;
}
/* FIM HEADER */

/* --------------------------- */

/* MAIN */
#tarefa {
  display: flex;
  flex-direction: row;
}
#tarefa__text {
  width: 75%;
  padding: 10px;
  border: none;
  outline: none;
}
#tarefa__btn {
  width: 25%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: var(--cinza1);
  cursor: pointer;
}
#tarefa__btn:hover {
  background-color: var(--cinza2);
}
/* FIM MAIN */

/* --------------------------- */

/* SECTION */
#lista li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 10px;
  cursor: pointer;
}
#lista li:nth-child(odd) {
  background-color: var(--cinza0);
}
#lista li:hover {
  background-color: var(--cinza1);
}
#lista li {
  flex-wrap: wrap;
  width: 100%;
}
.completo {
  text-decoration: line-through;
}
/* FIM SECTION */

/* --------------------------- */